.modal {
  &__wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  &__window {
    position: relative;
    margin: auto;
    padding: 50px 30px 30px;
    width: 340px;
    min-height: 257px;
    background: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
  }
  &__main-title {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 20px;
  }

  &__input_wrapper {
    position: relative;
    margin-bottom: 12px;
  }
  &__inputs {
    margin-bottom: 120px;
  }
  &__input {
    outline:none;
    border:0;
    border-bottom:1px solid var(--link-color);
    width: 100%;
    height: 30px;
    &:invalid {
      color: red;
    }
  }
  &__label_upload-file {
    display: block;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    color: var(--link-color);
  }
  &__input_upload-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  &__description {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: -3px;
    font-size: 9px;
    line-height: 9px;
    transition: 0.2s ease all;
    color: var(--text-color-gray);
  }
  &__error_text {
    position: absolute;
    font-size: 8px;
    line-height: 8px;
    color: red;
    top: 11px;
    right: 0;
  }
  &__general_error {
    position: static;
    display: block;
    text-align: center;
  }

  &__btns {
    position: absolute;
    bottom: 30px;
  }
  &__btn {
    width: 280px;
    height: 37px;
    background: var(--link-color);
    border-radius: 8px;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: var(--btn-text-color);
    margin-bottom: 14px;
  }
  &__link {
    display: block;
    font-size: 11px;
    line-height: 11px;
    color: var(--link-color);
    text-align: center;
    text-decoration: none;
    &:hover {
      color: var(--link-color-hover);
    }
    &:active {
      color: var(--link-color);
    }
  }
  &__error {
    color: red;
  }
  &__hide {
    display: none;
  }
  a {
    display: block;
  }
}
