{{!< base}}

<div class="modal__wrapper">
    <div class="modal__window">
        <h2 class="modal__title ">Add user</h2>
        <h2 class="modal__title modal__hide">Delete user</h2>
        <form class="modal__inputs">
            {{> input addClass="" type="text" placeholder="Login" errorText=""}}
            <span class="modal__error_text modal__general_error"></span>
        </form>
        <div class="modal__btns">
            <button class="modal__btn">Add</button>
        </div>
    </div>
</div>
