{{!< base}}

<div class="chat__wrapper">
    <div class="chat__user-list">
        <a href="./profile.hbs" class="chat__user-list_profile-link">Profile ></a>
        <form class="chat__search-form">
            <input class="chat__search-form_input" type="search" placeholder="Search...">
            <img src="../assets/search.svg" alt="search" class="chat__search-form_img">
        </form>
        <div class="chat__separator"></div>
        <div class="chat__items-wrapper">
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Andrey" time="10.49"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="4"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Peter" time="11.49"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="4"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Ivan" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Ivan" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Ivan" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Ivan" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Ivan" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Ivan" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Evgeniy" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Andrey" time="10.49"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="4"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Peter" time="11.49"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="4"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Ivan" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Ivan" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Ivan" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Ivan" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Ivan" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Ivan" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
            {{> user-item
                    photo="../assets/avatar.png"
                    chatName="Evgeniy" time="mon"
                    message="Друзья, у меня для вас особенный выпуск новостей!..."
                    unread="1"
            }}
        </div>
    </div>
    {{> empty-message-block}}
</div>
