{{!< base}}

<div class="modal__wrapper">
    <ul class="modal__window">
        <h5>Pages:</h5>
        <li><a href="login.hbs">Login</a></li>
        <li><a href="registration.hbs">Registration</a></li>
        <li><a href="add-del-user.hbs">Add user</a></li>
        <li><a href="upload-file.hbs">Upload file</a></li>
        <li><a href="profile.hbs">Profile</a></li>
        <li><a href="profile-change-data.hbs">Change data</a></li>
        <li><a href="profile-change-password.hbs">Change password</a></li>
        <li><a href="chat-empty.hbs">Empty chat</a></li>
        <li><a href="chat.hbs">Chat</a></li>
        <li><a href="page-500.hbs">Page 500</a></li>
        <li><a href="page-404.hbs">Page 404</a></li>
    </ul>
</div>
