{{!< base}}

<div class="modal__wrapper">
    <div class="modal__window">
        <h1 class="modal__main-title">500</h1>
        <h2 class="modal__title">We are already fixing</h2>
        <a class="modal__link" href="chat.hbs">Back to chats</a>
    </div>
</div>
