{{!< base}}

<div class="profile__wrapper">
    <div class="profile__back">
        <a class="profile__back_btn" href="./index.hbs"><img src="../asserts/back.png" alt="Back"></a>
    </div>
    <div class="profile__container">
        <div class="profile__photo-container">
            <img src="../asserts/avatar.png" alt="photo" class="profile__photo-container_photo">
        </div>
        <div class="profile__info">
            <div class="profile__options">
                <div class="profile__options_title">Old password</div>
                <input name="oldPassword" type="password" class="profile__options_descr" placeholder="old password..">
            </div>
            <div class="profile__separator"></div>
            <div class="profile__options">
                <div class="profile__options_title">New password</div>
                <input name="newPassword" type="password" class="profile__options_descr" placeholder="new password..">
            </div>
            <div class="profile__separator"></div>
            <div class="profile__options">
                <div class="profile__options_title">Repeat new password</div>
                <input name="repeatNewPassword" type="password" class="profile__options_descr" placeholder="repeat new password..">
            </div>
        </div>
        <div class="profile__links">
            <button class="profile__links_btn">Save</button>
        </div>


    </div>
</div>