<div class="modal__input_wrapper">
    <input class="modal__input {{addClass}}" type={{type}}>
    <span class="modal__description">{{placeholder}}</span>
    <span class="modal__error_text">{{errorText}}</span>
</div>
