<div class="chat__messages-block_body_message {{position}}">
    <div class="chat__messages-block_body_message_text">{{text}}</div>
    <div class="chat__messages-block_body_message_time">{{time}}</div>
</div>
